#container {
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: column;
  border-radius: 5px;
}

#background-img {
  width: 90%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--gradient-first);
  border-radius: 5px 5px 0 0;
  object-fit: contain;
  cursor: pointer;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

#background-img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0 0 5px 5px;
}


#info {
  width: 91%;
  height: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  background-color: var(--black);
  color: var(--white);
  font-family: 'montserrat';
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

#info > h4 {
  width: 100%;
  text-align: left;
  margin: 0;
  font-size: 14px;
  font-weight: 500;
}

#info span {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
}

#info span svg {
  margin-right: 2px;
}

#info-characteristics {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#info-characteristics > div {
  width: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info-data {
  font-size: 12px;
  letter-spacing: 1px;
}

/* Phone */
@media (max-width: 768px) {
  #container{
    width: 170px;
    height: 300px;
  }

  #background-img {
    width: 100%;
    height: 75%;
  }

  #background-img > img {
    border-radius: 5px 5px 0 0;
  }


  #info > h4 {
    font-size: 12px;
  }
}

/* Laptop */
@media (min-width: 769px) {
  
  #container{
    width: 225px;
    height: 375px;
  }


}