#modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4); 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 75;
}

#modal-container {
  border-radius: 5px;
  background-color: var(--white);
  overflow-y: auto;
}

header{
  max-width: 550px;
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 20px;
  margin-bottom: 50px;
}

h2{
  margin: 0;
  margin-bottom: 10px;
}

h3{
  margin: 0;
  font-weight: 500;
}

svg{
  scale: 2;
  transition: .2s ease-in-out;
  cursor: pointer;
}
svg:hover{
  scale: 2.5
}