:host{
  position: relative;
}

#profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
}

#img-container {
  position: relative;
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-image: var(--gradient);

}

#img-content {
  width: 60px;
  height: 60px;
  border-radius: 10px;
  object-fit: cover;
}

#delete-avatar {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: .2s ease;
}

#img-container:hover #delete-avatar {
  opacity: 1;
}

h3{
  margin: 0;
  font-size: 16px;
  font-weight: 400;
}

.pointer{
  cursor: pointer;
}


#modal-container{
  position: absolute;
  bottom: -80px;
  right: 0px;
  width: 225px;
  padding: 5px;
  border-radius: 5px;
  background-image: var(--gradient);
  z-index: 50;
}

#modal-content{
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 7px;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: var(--white);
}

#modal-content > span {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-size: 20px;
  letter-spacing: 1px;
  transition: .2s ease-in-out;
  cursor: pointer;
}

#modal-content > span:hover {
  transform: translateX(10px);
}