<header>
  <app-title-page section="movies"/>

  <app-btn-auth />
</header>
<main>
  @if (isMobile) {
    <header>
      <div>
        <app-select (selectionChange)="onSelectionChange($event)" />

        <app-search (searchSubmitted)="onSearch($event)"/>
      </div>

      <app-bar width="100%" height="5px" />
    </header>

  }@else {
  <header>

    <div>
      <div id="filters">
        <app-select (selectionChange)="onSelectionChange($event)" />

        <app-bar width="5px" height="35px" />

      </div>

      <app-search (searchSubmitted)="onSearch($event)"/>
    </div>


    <app-options-slider [options]="possibleGenres" (optionEmitter)="onNewGenderSearch($event)"/>
    
    <app-bar width="100%" height="5px" />

    
  </header>

  }

  <div id="list-movies">
    @for (movie of movies; track movie.id; let i = $index) {
      <app-movie-card [index]="i" [movie]="movie" />
    }@empty {
      
    }
  </div>

</main>

<app-upward />