/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: 'montserrat';
  src: url('./assets/fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
}

:root {
  --white: #f3f3e7;
  --black: #1c1c1c;
  --orange: #ba480e;
  --gradient: linear-gradient(to bottom right, 
    #edaf32, 
    #d15711, 
    #c22f06, 
    #7d1b0c,
    #521316, 
    #331911 
  );

 
}

body{
  background-color: var(--white);
}

/* Phone */
@media (max-width: 768px) {
  body{
    margin: .5em;

  }
}

/* Laptop */
@media (min-width: 769px) {
  body{
    margin: 2em;

  }


}



