button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border: 0;
  border-radius: 5px;
  background-image: var(--gradient);
  cursor: pointer;
  transition: .2s ease-in;
}

div {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  color: var(--orange);
  background-color: var(--white);
  transition: .2s ease-in;
}

button:hover {
  padding: 2.5px;
}

button:hover div{
  scale: 1.1;
}
